<div class="container">

    <div class="row mt-5">

        <div class="col-lg-2"></div>

        <div class="col-lg-8 p-0">

            {{> messages}}

            <form class="form-group p-0 border" action="/save-user" method="POST">
                <p class="bg-light border-bottom px-3 py-2"><b>Sign Up</b></p>

                <div class="form-group row px-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" name="username" class="form-control" id="username">
                    </div>
                </div>

                <div class="form-group row px-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        <input type="text" name="email" class="form-control" id="email">
                    </div>
                </div>

                <div class="form-group row px-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input type="password" name="password" class="form-control password" id="password">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fa fa-eye toggle-password" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group row px-3">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Confirm Password</label>
                    <div class="col-sm-10">
                        <div class="input-group mb-3">
                            <input type="password" class="form-control password" id="password_">
                            <div class="input-group-append">
                                <span class="input-group-text" id="basic-addon2">
                                    <i class="fa fa-eye toggle-password" aria-hidden="true"></i>
                                </span>
                            </div>
                        </div>
                        <br>
                        <button class="btn btn-primary" id="signup">Sign Up</button>
                    </div>
                </div>

            </form>

        </div>

        <div class="col-lg-2"></div>

    </div>

</div>
